---
permalink: /shop/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url={{ '/source/' | url }}">
  <link rel="canonical" href="{{ '/source/' | url }}">
  <title>Redirecting…</title>
</head>
<body>
  <p>Moved to <a href="{{ '/source/' | url }}">Source</a>.</p>
</body>
</html>
