---
layout: default
---

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <div class="home">
      <h1 class="page-heading">Welcome to Denton Works</h1>
      
      <div class="main-sections">
        <h2>Denton Works Blog</h2>
        <p>Welcome! Explore the main sections:</p>
        
        <div class="section-links">
          <h3><a href="{{ site.baseurl }}/wrenching/">Wrenching Projects</a></h3>
          <h3><a href="{{ site.baseurl }}/coding/">Coding Projects</a></h3>
          <h3><a href="{{ site.baseurl }}/microelectronics/">Microelectronics Projects</a></h3>
        </div>
      </div>
    </div>
  </div>
</main>
